.bg-primary,
.btn-primary,
.text-primary {
  background-color: '#006DB8' !important;
}
.text-primary {
  color: '#006DB8' !important;
}
.card {
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
